<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>childOrder</key>
	<array>
		<string>Chapter1</string>
		<string>Chapter2</string>
		<string>Chapter3</string>
		<string>Chapter4</string>
		<string>end</string>
		<string>More</string>
		<string>node_modules</string>
		<string>image</string>
		<string>%E8%A1%A5%E5%85%85%E8%AF%B4%E6%98%8E</string>
		<string>_book</string>
	</array>
	<key>resolutionData</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>%E8%A1%A5%E5%85%85%E8%AF%B4%E6%98%8E</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>588759102.76296401</real>
				<key>lastModification</key>
				<real>588759102.76296401</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>7</integer>
				</dict>
			</dict>
			<key>Chapter1</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>589355050.26144505</real>
				<key>lastModification</key>
				<real>589355050.26144505</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>29</integer>
				</dict>
			</dict>
			<key>Chapter2</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>589354946.78993297</real>
				<key>lastModification</key>
				<real>589354946.78993297</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>12</integer>
				</dict>
			</dict>
			<key>Chapter3</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>589354946.79786801</real>
				<key>lastModification</key>
				<real>589354946.79786801</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>13</integer>
				</dict>
			</dict>
			<key>Chapter4</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>589354946.80280805</real>
				<key>lastModification</key>
				<real>589354946.80280805</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>14</integer>
				</dict>
			</dict>
			<key>More</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>589354946.843503</real>
				<key>lastModification</key>
				<real>589354946.843503</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>27</integer>
				</dict>
			</dict>
			<key>_book</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>589354957.14519405</real>
				<key>lastModification</key>
				<real>589354957.14519405</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>28</integer>
				</dict>
			</dict>
			<key>end</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>589354946.83448005</real>
				<key>lastModification</key>
				<real>589354946.83448005</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>24</integer>
				</dict>
			</dict>
			<key>image</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>589354946.83722901</real>
				<key>lastModification</key>
				<real>589354946.83722901</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>25</integer>
				</dict>
			</dict>
			<key>node_modules</key>
			<dict>
				<key>lastModification</key>
				<real>588754984.77069402</real>
				<key>version</key>
				<dict>
					<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
		<key>sheetClusters</key>
		<dict/>
		<key>userIconName</key>
		<real>588660674.79084599</real>
	</dict>
	<key>sheetClusters</key>
	<array/>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>userIconName</key>
	<string>Github</string>
	<key>versioning</key>
	<dict>
		<key>childOrder</key>
		<dict>
			<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
			<integer>30</integer>
		</dict>
		<key>sheetClusters</key>
		<dict>
			<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
			<integer>17</integer>
		</dict>
		<key>userIconName</key>
		<dict>
			<key>c32a80cc057be5303c0003b227b791f44bfcefd28996d7903df1a0a7e50757e8</key>
			<integer>15</integer>
		</dict>
	</dict>
</dict>
</plist>
